.card
{
    padding: 24px;

    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 40px 0 rgba(26,44,57,0.2);
    border: 1px solid #dbdade;

    .card-footer{
        border-top: 1px solid #e6e6e6;
        background-color: @color-muted;
        margin:-23px;
        padding: 25px;
        border-radius: 0 0 8px 8px;
    }
}
.elevated
{
    margin-top: -104px;
}
